.note {
    box-shadow: 0 0 3px 0 gray;
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 200px;
    width: 200px;

    &__title {
        flex: 20px;
        font-weight: bold;
    }

    &__description {
        flex: calc(100% - 20px);
        overflow-y: auto;
    }
}