.form {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &__title {
        margin-bottom: 10px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 10px;
    }

    &__button-add,
    &__button-clear {
        border: none;
        color: white;
        outline: none;
        height: 30px;
        width: 40%;

        &:hover {
            cursor: pointer;
        }
    }

    &__button-add {
        background-color: lightgreen;
    }

    &__button-clear {
        background-color: tomato;
    }
}